.confirm-dialog--container{
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .confirm-dialog--content{
    font-size: 15px;
    min-height: 100px;
    text-align: center;
    padding: 60px 0 40px 0;
  }

  .confirm-dialog--action{
    display: flex;
    justify-content: center;
  }
}
